<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Edit Customer</title>

<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">

</head>
<body>
    <div class="container">
    	<br>
        <h2>Edit Customer</h2>
        <br>
        <form action="#" th:action="@{/save}" th:object="${customer}"
            method="post">
        	<input type="hidden" th:field="*{id}" readonly="readonly" />     
            
            <div class="form-group">
				<label for="name">First Name</label> <input type="text"
					class="form-control" id="name" th:field="*{name}" name="name">
				<small class="form-text text-danger"
				 th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
				</small>	
			</div>
			<div class="form-group">
				<label for="lastname">Last Name</label> <input type="text"
					class="form-control" id="lastname" th:field="*{lastname}" name="lastname">
				<small class="form-text text-danger"
				 th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">
				</small>	
			</div>
			<div class="form-group">
				<label for="phone">Phone</label> <input type="text"
					class="form-control" id="phone" th:field="*{phone}" name="phone">
				<small class="form-text text-danger"
				 th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">
				</small>	
			</div>
			<div class="form-group">
				<label for="email">Email</label> <input type="text"
					class="form-control" id="email" th:field="*{email}" name="email">
				<small class="form-text text-danger"
				 th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
				</small>	
			</div>
			<div class="form-group">
				<label for="country">Country</label>
				<select th:field="*{country}"
					class="form-control" id="country">
					<option value=""> Select </option>
					<option th:each="cou:${listCountries}" th:value="${cou.id}"
							th:text="${cou.name}" />
				</select>
				<small class="form-text text-danger"
				 th:if="${#fields.hasErrors('country')}" th:errors="*{country}">
				</small>
			</div>
			<div>
				<label for="industry">Industry</label>
				<select th:field="*{industry}"
					class="form-control" id="industry">
					<option value=""> Select </option>
					<option th:each="ind:${listIndustries}" th:value="${ind.id}"
							th:text="${ind.name}" />
				</select>
				<small class="form-text text-danger"
				 th:if="${#fields.hasErrors('industry')}" th:errors="*{industry}">
				</small>
			</div>
			<br>
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>
</body>
</html>