<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8"/>
<title>CRM Prototype</title>

<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">

</head>
<body>
<div sec:authorize="isAuthenticated()"  class="container" align="right">
	<h11><b>Hi <span sec:authentication="name">Username</span>!</b></h11>
    	
    <form th:action="@{/logout}" method="post">
    	<input class="sb" type="submit" value="Log out" />
	</form>
</div>
<div class="container">
	<br>
	<div sec:authorize="hasAuthority('ADMIN')">
	    <a href="/new" class="btn btn-primary">Add Customer</a>
    </div>  
    <div>
    	<form th:action="@{/}" align="right"> 
    		<input type="text" name="keyword" th:value="${keyword}" required />
    		&nbsp;
    		<input type="submit" value="Search" />
    		&nbsp;
    		<input type="button" value="Clear" onclick="clearFilter()" />
    	</form>
    	<h2>Customer List</h2>
	    <table class="table">
	        <thead>
	            <tr>
	                <th>First Name</th>
	                <th>Last Name</th>
	                <th>Phone</th>
	                <th>Email</th>
	                <th>Country</th>
	                <th>Industry</th>
	                <th></th>
	                <th></th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr th:each="customer : ${listCustomers}">
	                <td th:text="${customer.name}"></td>
	                <td th:text="${customer.lastname}"></td>
	                <td th:text="${customer.phone}"></td>
	                <td th:text="${customer.email}"></td>
	                <td th:text="${customer.country.name}"></td>
	                <td th:text="${customer.industry.name}"></td>
	                <td sec:authorize="hasAuthority('ADMIN')">
	                	<a class="btn btn-info" th:href="@{/edit/{id}(id=${customer.id})}">Edit</a>
	                </td>
					<td sec:authorize="hasAuthority('ADMIN')">
						<a class="btn btn-danger" th:href="@{/delete/{id}(id=${customer.id})}">Delete</a>
					</td>
	            </tr>
	        </tbody>
	    </table>
    </div>
</div>  
<script type="text/javascript">
	function clearFilter() {
		window.location = "/";
	}
</script>
</body>
</html>