<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>CRM</title>

<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">

</head>
<body>
<div class="container">
	<br>
	<div>
	    <a href="/new" class="btn btn-primary">Add Customer</a>
    </div>  
    <br>
    <div>
    	<h2>Customer List</h2>
	    <table class="table">
	        <thead>
	            <tr>
	                <th>First Name</th>
	                <th>Last Name</th>
	                <th>Phone</th>
	                <th>Email</th>
	                <th>Country</th>
	                <th>Industry</th>
	                <th></th>
	                <th></th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr th:each="customer : ${listCustomers}">
	                <td th:text="${customer.name}"></td>
	                <td th:text="${customer.lastname}"></td>
	                <td th:text="${customer.phone}"></td>
	                <td th:text="${customer.email}"></td>
	                <td th:text="${customer.country.name}"></td>
	                <td th:text="${customer.industry.name}"></td>
	                <td><a class="btn btn-info" th:href="@{/edit/{id}(id=${customer.id})}">Edit</a></td>
					<td><a class="btn btn-danger" th:href="@{/delete/{id}(id=${customer.id})}">Delete</a></td>
	            </tr>
	        </tbody>
	    </table>
    </div>
</div>  
</body>
</html>